/* Center images (Reading view) */
.markdown-rendered .image-embed {
    display: flex;
    justify-content: center;
}

.markdown-rendered .image-embed img {
    display: block;
}

/* Center images (Dynamic preview) */
.markdown-source-view.mod-cm6 .internal-embed.image-embed {
    display: flex;
    justify-content: center;
    width: 100%;
}

.markdown-source-view.mod-cm6 .internal-embed.image-embed .image-wrapper {
    display: inline-flex;
}

.markdown-source-view.mod-cm6 .internal-embed.image-embed img {
    display: block;
}

/* Center Mermaid diagrams */
.markdown-rendered .mermaid {
    text-align: center;
}

/* Center tables */
.markdown-rendered table {
    margin-inline: auto;
}
